h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.message {
    height: 125px;
    max-height: 125px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    overflow: auto;
}

#share-link {
    cursor: pointer;
    font-weight: bold; 
    color: rgb(219, 33, 8);
}

#share-link:hover {
    color: rgb(182, 26, 5);
}

#share-link:active {
    color: rgb(129, 15, 0);
}

/* New CSS Styling */
body {
    background-color: #282828;
    color: rgb(240, 240, 240);
    height: 100%;
}

header {
    background-color: #2a1764;
    height: 130px;
}

.top-container {
    max-width: 500px;
    margin: 0 auto;
}

.Main {
    margin: 20px auto;
    border-radius: 8px;
    background-color: rgb(70, 31, 163);
    max-width: 500px;
    height: calc(100% - 40px);
}

.Main-top-container {
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 40px;
    height: 150px;
    background-color: #2a1764;
}

.Main-mid-container {
    padding: 20px;
}

.game-title {
    padding: 0 0 40px 0;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}