body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.75em;
}

h2 {
    text-align: center;
    font-size: 4em; 
}

td {
    width: 50%;
}

input {
	margin-bottom: 5px;
}

a:visited{ 
	color: blue; 
}

.display {
    width: 100%;
    min-height: 400px;
    padding-bottom: 20px;
}

.control {
    width: 100%;
    padding-bottom: 20px;
}

.control-button {
    width: 100%;
    min-height: 50px;
}

.display-box {
    border: 2px solid black;
}

.title {
    vertical-align: top;
}

.standby {
    background-color: red;
}

.go {
    background-color: green;
}

.fade {
    background-color: yellow;
}

.off {
    background-color: gray;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.status {
    height: 125px;
    vertical-align: text-top;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    
}

.message {
    height: 125px;
    max-height: 125px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    overflow: auto;
}

.msg-time {
    color: blue;
}

.cueMsg {
    color: orange;
}

.selfMsg {
    color: green;
}

.peerMsg {
    color: red;
}


#share-link {
    cursor: pointer;
    font-weight: bold; 
    color: rgb(219, 33, 8);
}

#share-link:hover {
    color: rgb(182, 26, 5);
}

#share-link:active {
    color: rgb(129, 15, 0);
}

/* New CSS Styling */
body {
    background-color: rgb(35, 0, 117);
    color: rgb(240, 240, 240);
}

.Main {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px 20px;
    border-radius: 12px;
    background-color: rgb(70, 31, 163);
    width: 350px;
    text-align: center;
}

.game-title {
    padding: 0 0 40px 0;
    color: white;
    text-align: center;
}