.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.message {
    height: 125px;
    max-height: 125px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    overflow: auto;
}

#share-link {
    cursor: pointer;
    font-weight: bold; 
    color: rgb(219, 33, 8);
}

#share-link:hover {
    color: rgb(182, 26, 5);
}

#share-link:active {
    color: rgb(129, 15, 0);
}

/* New CSS Styling */
body {
    background-color: rgb(35, 0, 117);
    color: rgb(240, 240, 240);
    height: 100%;
}

header {
    background-color: #0C0032;
}

.top-container {
    max-width: 400px;
    margin: 0 auto;
}

.Main {
    margin: auto;
    padding: 40px 20px;
    border-radius: 12px;
    background-color: rgb(70, 31, 163);
    width: 350px;
    height: calc(100% - 40px);
    text-align: center;
}

.game-title {
    padding: 0 0 40px 0;
    color: white;
    font-size: 1rem;
    text-align: center;
}