/* New Caption It Game */
* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00A19D;
}

/* Status and Link Section */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FFB344;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.share-link-prompt-text {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
}

#receiver-id {
    background-color: #f7ebcc;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.status {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

/* Game Section */
.score-section {
    position: fixed;
    bottom: 40px;
    left: 20px;
    padding: 1rem;
    background-color: #f7ebcc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    min-width: 300px;
}

.score-list {
    max-height: 50vh;
    /* Adjust the maximum height according to your preference */
    overflow-y: auto;
}

.score-player-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Mobile view */
@media (max-width: 1000px) {
    .score-section {
        display: none;
    }
}

/* Desktop view */
@media (min-width: 1001px) {
    .score-section {
        width: auto;
        bottom: 1rem;
    }
}

.Main {
    position: absolute;
    top: calc(10px + 60px);
    left: 0;
    right: 0;
    bottom: 0;
    /* header padding + header content height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    text-align: center;
    background-color: #f7ebcc;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* Media query for mobile responsiveness */
@media (max-width: 1000px) {
    .Main {
        padding: 0 0;
        top: 0;
    }

    .slide {
        width: 95%;
        margin: 0 10px !important;
        padding: 15px;
        border-radius: 8px;
    }
}

.game-title {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.Main-mid-container {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    color: #2c3e50;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.ready {
    color: rgb(146, 255, 146);
}

.not-ready {
    color: #E05D5D;
}

.showName-container,
.changeName-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    /* background-color: #D27685; */
    /* Change the background color for each player */
    border-radius: 0.5rem;
    padding: 0 1rem;
}

.player-name-text {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

.changeName-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.changeName-button {
    font-size: 1rem;
    color: #2c3e50;
}

#changeName-input {
    border: none;
    border-bottom: 1px solid #2c3e50;
    background-color: transparent;
    outline: none;
    font-size: 1.2rem;
}

.confirm-ChangeName-button {
    font-size: 1.2rem;
    color: #2c3e50;
    cursor: pointer;
}

.playerStatus-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
}

.playerStatus-button {
    width: 1.5rem;
}

.playing {
    /* Your preferred icon and style for the playing status */
}

.spectating {
    /* Your preferred icon and style for the spectating status */
    color: rgb(161, 3, 3);
}

.regular-button {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #2c3e50;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.regular-button:hover {
    background-color: #34495e;
}

/* Media query for mobile responsiveness */
@media (max-width: 500px) {
    .slide {
        margin: 2rem;
    }
}

/* Writing Captions Slide */
#captionSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    /* Adjust this value according to your preference */
    padding: 1rem;
}

.random-picture {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Mobile view */
@media (max-width: 1000px) {
    #caption-random-pic {
        max-height: 40vh;
        /* Adjust this value according to your preference */
    }
}

/* Desktop view */
@media (min-width: 1001px) {
    #caption-random-pic {
        max-height: 60vh;
        max-width: 500px;
        /* Adjust this value according to your preference */
    }
}

#caption-input {
    border: none;
    background-color: #f3ebd8;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 600px;
    /* Adjust this value according to your preference */
    height: 6rem;
    /* Adjust this value according to your preference */
    resize: none;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#submit-caption {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #2c3e50;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Taking Votes Slide */
#takeVote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    margin: 60px 0 0 0;
}

@media (max-width: 1000px) {
    #vote-random-pic {
        max-height: 40vh;
        /* Adjust this value according to your preference */
    }
}

/* Desktop view */
@media (min-width: 1001px) {
    #vote-random-pic {
        max-height: 25vh;
        /* Adjust this value according to your preference */
    }
}

.caption-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-height: 48vh;
    /* Set a fixed height, adjust based on your requirements */
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    /* Show a vertical scrollbar when the content overflows */
    /* Scrollbar styling */
    scrollbar-color: #2c3e50 #F5F5F5;
    scrollbar-width: 5px;
}

@media (max-width: 1000px) {
    .caption-list {
        grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
    }
}

.caption-list::-webkit-scrollbar {
    width: 5px;
    background-color: #f7ebcc;
}

.caption-list::-webkit-scrollbar-thumb {
    background-color: #f1dca7;
    border-radius: 5px;
}

.caption-list::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 5px;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0e9d7;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.caption-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.vote-button {
    font-size: 1rem;
    color: #ffffff;
    background-color: #2c3e50;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.vote-button:hover {
    background-color: #34495e;
}

/* Chat Section */
.chat-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: calc(92% - 100px);
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.uncollapsed-arrow {
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.collapsed-arrow {
    position: absolute;
    left: 50%;
    top: 99%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chat-container.collapsed .chat-table {
    display: none;
}

.chat-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f7ebcc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.041);
}

/* Low Width Desktop/Tablet */
@media (max-width: 1310px) {
    .chat-table {
        background-color: #fae6b3;
        /* Adjust the box shadow so it shows above the element instead of below */
        box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.09);
    }
}

/* Mobile */
@media (max-width: 1000px) {
    .chat-table {
        background-color: #f8e2ab;
        /* Adjust the box shadow so it shows above the element instead of below */
        box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.09);
    }
}

#clearMsgsButton {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.message {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.send-message-container {
    display: flex;
    padding: 10px;
}

#sendMessageBox {
    flex: 1;
    margin-right: 10px;
}

#sendButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 1000px) {
    .chat-container {
        width: 100%;
        height: 200px;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }

    .collapsed-arrow {
        top: 90%;
    }
}

.no-display {
    display: none !important;
}

.no-displayMobile {
    display: block !important;
}

/* Media query for mobile responsiveness */
@media (max-width: 1000px) {
    .no-displayMobile {
        display: none !important;
    }
}